h1 {
  font-size: 50px;
}

.ul-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.oscuro {
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0;
}

#nav-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  justify-content: center;
  border-bottom: 1px solid #373b6f;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.img-logo-nav {
  width: 100px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.li-nav {
  font-size: 20px;
  color: #373b6f;
}

.footer-class {
  background-color: #373b6f;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.div-footer-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-footer-icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-footer {
  margin: 10px;
  color: white;
}

@font-face {
  font-family: "miFuente";
  src: url("../font/MelanicBlackSerif-Regular.ttf") format("truetype");
}

body {
  font-family: "miFuente", MelanicBlackSerif-Regular;
}

h3 {
  letter-spacing: 2px;
  font-weight: bold; /* Aumenta el peso de la fuente */
}

.hero-section-main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.hero-section-main img {
  width: 100%; /* Ajusta el ancho de la imagen al ancho del div */
  height: 100%; /* Ajusta la altura de la imagen a la altura del div */
  object-fit: cover; /* Ajusta la imagen para que se adapte al contenedor manteniendo sus proporciones y cubriendo todo el espacio */
}

.hero-section-main h1 {
  color: #373b6f;
  font-size: 40px;
  position: absolute; /* Establece el posicionamiento absoluto para el elemento h2 */
  top: 40%; /* Posiciona el h2 en el centro vertical de la imagen */
  left: 70%; /* Posiciona el h2 en el centro horizontal de la imagen */
  transform: translate(
    -50%,
    -50%
  ); /* Centra el h2 respecto a sus propias dimensiones */

  text-shadow: 0px 0px 3px #373b6f; /* Aplica el borde difuminado */
}

.hero-section-main a {
    color: #373b6f;
    font-size: 40px;
    position: absolute; /* Establece el posicionamiento absoluto para el elemento h2 */
    top: 80%; /* Posiciona el h2 en el centro vertical de la imagen */
    left: 67%; /* Posiciona el h2 en el centro horizontal de la imagen */
    transform: translate(
      -50%,
      -50%
    ); /* Centra el h2 respecto a sus propias dimensiones */
  
    text-shadow: 0px 0px 3px #373b6f; /* Aplica el borde difuminado */
  }

  .hero-section-main i {
    color: #373b6f;
    font-size: 40px;
    position: absolute; /* Establece el posicionamiento absoluto para el elemento h2 */
    top: 50%; /* Posiciona el h2 en el centro vertical de la imagen */
    left: 100%; /* Posiciona el h2 en el centro horizontal de la imagen */
    transform: translate(
      -50%,
      -50%
    ); /* Centra el h2 respecto a sus propias dimensiones */
  
    text-shadow: 0px 0px 3px #373b6f; /* Aplica el borde difuminado */
  }

.hero-section {
  width: 100%;
  height: 400px !important;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.hero-section img {
  width: 100%; /* Ajusta el ancho de la imagen al ancho del div */
  height: 100%; /* Ajusta la altura de la imagen a la altura del div */
  object-fit: cover; /* Ajusta la imagen para que se adapte al contenedor manteniendo sus proporciones y cubriendo todo el espacio */
}

.hero-section h1 {
  color: #373b6f;
  font-size: 40px;
  position: absolute; /* Establece el posicionamiento absoluto para el elemento h2 */
  top: 40%; /* Posiciona el h2 en el centro vertical de la imagen */
  left: 70%; /* Posiciona el h2 en el centro horizontal de la imagen */
  transform: translate(
    -50%,
    -50%
  ); /* Centra el h2 respecto a sus propias dimensiones */

  text-shadow: 0px 0px 3px #373b6f; /* Aplica el borde difuminado */
}

.div-footer-text h3 {
  color: white;
  font-size: 15px;
}

.quienes-somos-class {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.div-quienes-somos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-quienes-somos h2 {
  margin-right: 100px;
  margin-left: 100px;
  color: #373b6f;
  text-align: justify;
}

.div-quienes-somos h1 {
  color: #373b6f;
}

#nuestros-productos {
  width: 100%;
  height: 600px;
  background-image: url("../img/fondo_2_1.jpg");
  background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el espacio del div manteniendo sus proporciones */
  background-position: bottom; /* Centra la imagen de fondo en el div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #373b6f;
}

.div-productos-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.div-producto {
  width: 100%;
  height: 60%;
  margin: 20px 20px 0px 20px;
}

.div-productos-titulo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.img-producto {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

.div-title-producto {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
}

.div-title-producto h3 {
  margin-top: 0;
  text-shadow: 0px 0px 2px #373b6f; /* Aplica el borde difuminado */
}

#contactanos {
  width: 100%;
  height: 500px;
  background-image: url("../img/fondo_3.jpg");
  background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el espacio del div manteniendo sus proporciones */
  background-position: bottom; /* Centra la imagen de fondo en el div */
}

#contactanos h1 {
  margin-top: 0;
  color: #373b6f;
}

#contactanos h4 {
  color: #373b6f;
}

.div-contactanos-section {
  width: 100%;
  height: 100%;
}

.div-contactanos-main {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.input-contactanos {
  width: 80%;
}

.div-title-contactanos {
  padding: 20px;
}

#icon-volver-home{
    color: #373b6f;
}

.a-comprar{
    color: red;
}